﻿body {
}

.hide {
    display:none;
}

#category {
    color:#3c5a99;
    font-size:49px;
}

#categories {
    color:#3c5a99;
    font-size:16px;
    line-height:20px;
    font-weight:normal;
}

    #categories a {
        color: #3c5a99;
    }

    #categories a.selected {
        color: #00cf45;
        font-weight:bold;
    }

#lifestyles {
    text-align: center; 
}

#lifestyles .lifestyle {
    font-size:14px;
    line-height:16px;
}

#lifestyles .lifestyle .title {
    font-family:Arial;
    font-weight:bold;
    font-size:19px;
    color:#3c5a99;
    padding-top:15px;
    padding-bottom:15px;
}

    #lifestyles .lifestyle .title a {
        color: inherit;
    }

#lifestyles .lifestyle .img {
    width: 50%;
    max-width: 200px;
    margin: 0 auto;
    padding-bottom: 10px;
}

    #lifestyles .lifestyle .img img {
        width:100%;
        margin: unset;
    }

#lifestyles .lifestyle .description {
    padding-bottom:10px;
    font-size:14px;
}

    #lifestyles .lifestyle .more_info {
        max-width:200px;
        padding-bottom: 20px;
        padding-right: 10px;
        margin: 10px auto;
    }

        #lifestyles .lifestyle .more_info img {
            width: 100%;
        }

#lifestyles .lifestyle .date {
    font-size:12px;
    color: #333333;
    padding-bottom:6px;
}

#lifestyle hr {
    display: block; height: 1px;
    border: 0; border-top: 1px solid #05b2c3;
    margin: 1em 0; padding: 0;
}

#poPrevNext .prev {
    float:left;
    text-align:left;
}
#poPrevNext .next {
    float:right;
    text-align:right;
}
#poPrevNext .image {
    width:65px;
}
    #poPrevNext .image img {
        width:65px;
    }
#poPrevNext .lnk {
    width:150px;
    color:#3c5a99;
    font-family: HelveticaThin;
    font-size: 25px;
    font-weight: bold;
    margin:0 10px 0 10px;
    line-height:65px;
}
    #poPrevNext .lnk a {
        color: inherit;
    }


    /*--------------------*/

    #lifestyle {
    width:100%;
    margin: 15px 15px 0 auto;
    font-family: Arial;
    color:black;
    font-size:12px;
}

    #lifestyle .main {
        background-color:white;
        padding:.5em 1em;
    }

        #lifestyle .main .left {
            float:left;
            width:150px;
        }

        #lifestyle .main .right {
            float:right;
            width:440px;
            margin-right:10px;
        }

    #lifestyle .title {
        color:#3c5a99;
        font-size:24px;
        line-height:1.2em;
        font-weight:bold;
        margin-top:8px;
    }

    #lifestyle .altColor {
        color:#3c5a99;
    }

    #lifestyle .date {
        margin-top:15px;
    }

    #lifestyle .subtitle {
        color:#666666;
        font-size:18px;
        margin-top:5px;
        margin-bottom:10px;
    }

    #lifestyle .imgmain {
        text-align:center;
        position: relative;
    }

        #lifestyle .imgmain img {
            margin:0 0 10px 0;
            max-width:590px;
            width:100%;
            display: inline;
        }


    #lifestyle .imgmain .leftarrow, #lifestyle .imgmain .rightarrow {
        position: absolute;
        top: 35%;
        top: calc(50% - 70px);
        width: 100px;
        margin: 0;
        height: 0;
        overflow:visible;
    }
        #lifestyle .imgmain .leftarrow {
            left: -20px;
        }
        #lifestyle .imgmain .rightarrow {
            right: -20px;
        }
            #lifestyle .imgmain .leftarrow img, #lifestyle .imgmain .rightarrow img {
                width:auto;
            }

    #lifestyle .tags {
        margin-top:12px;
        color:#3c5a99;
        font-size: 14px;
    }

        #lifestyle .tags a {
            color:inherit;
        }

        #lifestyle .tags .title {
            color:#666;
            font-size: 18px;
            font-weight:bold;
        }

.poPrevNext {
    background-color:#3c5a99;
    text-align:center;
    color:#fff;
    font-family: Arial;
    font-size: 18px;
    line-height:40px;
    margin:18px 0;
}
    .poPrevNext .prev {
        float:left;
        text-align:left;
    }
    .poPrevNext .next {
        float:right;
        text-align:right;
    }
    .poPrevNext .lnk {
        margin:0 20px 0 20px;
    }
        .poPrevNext .lnk a {
            color: inherit;
        }

#dots {
    text-align:center;
    font-size:30px;
    color:#666;
}

    #dots a {
        color:inherit;
    }

    #dots .selected {
        color:#3c5a99;
    }
        
.container .content_sections h1 {
    top:0;
}

@media (min-width: 500px){
    #lifestyles {
        text-align: left;
    }

    #lifestyles .lifestyle .img {
        float:left;
        width: 28%;
        padding: 0;
    }

    #lifestyles .lifestyle .description {
        width:500px;
        float:right;
    }

    #lifestyles .lifestyle .description, #lifestyles .lifestyle .buttons {
        width:68%;
    }

    #lifestyles .lifestyle .buttons {
        float: right;
    }

    #lifestyles .lifestyle .date {
        float:right;
        width:500px;
    }
}

@media (min-width: 650px) {
    #lifestyle .imgmain .leftarrow {
        left: 0;
    }

    #lifestyle .imgmain .rightarrow {
        right: 0;
    }
}

@media (min-width: 700px) {
    #lifestyle .imgmain .leftarrow {
        left: 20px;
    }

    #lifestyle .imgmain .rightarrow {
        right: 20px;
    }
}

@media (min-width: 750px) {
    #lifestyle .imgmain .leftarrow {
        left: 40px;
    }

    #lifestyle .imgmain .rightarrow {
        right: 40px;
    }
}