﻿body {
    background-color: white;
    /*background-image: url(../images/Lucky7_bg.png);*/
    font-family: "Open Sans", arial, verdana, helvetica, sans-serif;
    font-size: 12px;
    color: #575757;
}

a {
    text-decoration: none;
}

img{
    border: none;
    display: block;
}

.clear{
    clear: both;
}

header, footer{
    background-color: black;
    padding: 5px 0;
}

footer{
    margin-top: 30px;
    text-align: center;
    padding: 20px 0;
}

    header .logo{
        max-width: 250px;
        margin: 0 auto;
    }

        header .logo img{
            width: 100%;
        }

    footer .copy{
        color: white;
    }

        footer .copy a{
            color: white;
        }

.container{
    max-width: 1150px;
    margin: 0 auto;
}

    .container .header_section{
        padding-top: 15px;
    }

        .container .header_section .Money {
            max-width: 298px;
            margin: 0 auto;
        }

            .container .header_section .Money img{
                width: 100%;
            }

        .container .header_section .form_section{
            max-width: 585px;
            border-radius: 20px;
            background-color: #ebedf3;
            padding: 15px;
            color: #5b657b;
            margin: 0 10px;
        }
        
            .container .header_section .form_section .form_body{
                width: 97.9%;
                margin: 0 auto;
            }

                .container .header_section .form_section .form_body .title{
                    font-size: 37px;
                    text-align: center;
                }

                .container .header_section .form_section .form_body .body{
                    font-size: 14px;
                    padding-top: 13px;
                }

                .container .header_section .form_section .form_body .field{
                    padding-top: 15px;
                }

                    .container .header_section .form_section .form_body .field input{
                        width: 96%;
                        height: 45px;
                        border: solid #5b657b 1px;
                        font-size: 16px;
                        padding: 0 10px;
                    }

                .container .header_section .form_section .form_body .disclaimer{
                    font-size: 11px;
                    padding-top: 15px;
                }

                .container .header_section .form_section .form_body .g-recaptcha{
                    margin: 0 auto;
                    width: 304px;
                    padding-top: 15px;
                }

                .container .header_section .form_section .form_body .submit{
                    text-align: center;
                    padding-top: 15px;
                }

                    .container .header_section .form_section .form_body .submit input{
                        max-width: 228px;
                        width: 100%;
                    }

    .container .ads{
        max-width: 325px;
        padding-right: 25px;
        width: 100%;
        margin: 25px 0 0;
        float: right;
        display: none;
    }

    .container .ad{
        padding: 10px 0 20px;
        text-align: center;
    }

    .container .content_sections{
        max-width: 730px;
        margin: 25px auto 0;
        padding: 0 10px;
    }

        .container .content_sections .home_section{
            font-size: 14px;
            line-height: 16px;
            text-align: center;
        }

            .container .content_sections .home_section .img{
                width: 50%;
                max-width: 200px;
                margin: 0 auto;
            }

            .container .content_sections .home_section .img img{
                width: 100%;
            }

            .container .content_sections .home_section .description {
                width: 100%;
                padding-bottom: 10px;
            }

                .container .content_sections .home_section .description .title {
                    width: 100%;
                    font-family: Arial;
                    font-weight: bold;
                    font-size: 19px;
                    line-height: 1.2em;
                    color: #3c5a99;
                    margin: 10px 0;
                }

                    .container .content_sections .home_section .description .title a {
                        color: #3c5a99;
                    }

                .container .content_sections .home_section .description .buttons {
                    
                }

                    .container .content_sections .home_section .description .buttons .more_info {
                        margin: 10px auto;
                        max-width: 200px;
                        padding-right: 10px;
                        width: 46%;
                        display: inline-block;
                    }

                        .container .content_sections .home_section .description .buttons .more_info img {
                            width: 100%;
                        }
        
        .container .content_sections h1 {
            color:#28aae1;
            font-size:25px;
            line-height:26px;
            position:relative;
            top:9px;
            font-family: Arial;
        }
        
            .container .content_sections h1 img{
                float: left;
                max-width: 30px;
                margin: -3px 5px 0 0 !important;
            }

            .container .content_sections h1 a {
                color: #28aae1;
                text-decoration: none !important;
            }

.container .content_sections .blueline {
    clear:both;
    border: 0; 
    height: 0; 
    border-top: 3px solid #3c5a99;
    margin: 10px 0 14px;
}

#content img {
    margin: 20px auto;
    display: block;
}

@media (min-width: 500px){
    .container .content_sections .home_section{
        text-align: left;
    }

    .container .content_sections .home_section .img{
        float: left;
        width: 28%;
        margin: 0;
    }

    .container .content_sections .home_section .description {
        float: right;
        width: 68%;
    }
}

@media (min-width: 650px) {
    .container .header_section .form_section{
        margin: 0 auto;
    }
}
        
@media (min-width: 720px) {
    header .logo {
        margin: unset;
    }
}
        
@media (min-width: 1120px) {
    .container .ads {
        display: block;
    }

    .container .content_sections{
        padding: 0 0 0 22px;
        width: 100%;
        margin: 25px 0 0;
        float: left;
    }
}

@media (min-width: 1130px) {
    .container .header_section .Money {
        float: left;
        max-width: 498px;
    }

    .container .header_section .form_section{
        float: left;
    }
}