﻿body {
}

#topcoupon {
    font-size:16px;
    line-height:20px;
}

    #topcoupon .title {
        padding-top:10px;
        font-family:Arial;
        font-weight:bold;
        font-size:24px;
        line-height: 26px;
        color:#3c5a99;
    }

        #topcoupon .title a {
            color:inherit;
        }

    #topcoupon .date {
        font-size:12px;
        color: #333333;
    }

    #topcoupon .more_info {
        text-align:center;
        padding:25px;
    }

        #topcoupon .more_info a {
            padding: 10px 80px;
            background: #ffc908;
            color: #FFF;
            font-size:24px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            border: solid 1px #20538D;
            text-shadow: 2px 1px 1px #333333;
            -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;

            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#ffc908), to(#fba01c) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #ffc908, #fba01c ); /* for Firefox */
        }
        #topcoupon .more_info a:hover, #topcoupon .more_info a:focus {
            background: #fba01c;
            border: solid 1px #2A4E77;
            text-decoration: none;

            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#fba01c), to(#fba01c) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #fba01c, #fba01c ); /* for Firefox */
        }
        #topcoupon .more_info a:active {
            -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
            background: #ffc908;
            border: solid 1px #203E5F;

            background-image: -webkit-gradient(linear, left top, left bottom,
            from(#fba01c), to(#ffc908) ); /* for Chrome + Safari */
            background-image: -moz-linear-gradient(  top,
            #fba01c, #ffc908 ); /* for Firefox */
        }

    #topcoupon .image {
        text-align:center;
        max-width: 645px;
    }
    #topcoupon .image img {
        width: 100%;
        display: inline;
    }
    #topcoupon .imagehp img {
    }

    #topcoupon .text {
    }

    #topcoupon .tags {
        font-size:12px;
    }

#coupons {
    text-align: center;
}

#coupons .coupon {
    font-size:14px;
    line-height:16px;
}

#coupons .coupon .title {
    font-family:Arial;
    font-weight:bold;
    font-size:19px;
    color:#3c5a99;
    padding-top:15px;
    padding-bottom:15px;
}

    #coupons .coupon .title a {
        color: inherit;
    }

#coupons .coupon .img {
    margin: 0 auto;
    width:200px;
    padding-bottom: 10px;
}

    #coupons .coupon .img img {
        width:100%;
    }

#coupons .coupon .description {
    padding-bottom:10px;
    font-size:14px;
}

    #coupons .coupon .more_info {
        max-width:200px;
        width: 46%;
        padding-bottom: 20px;
        float: left;
        padding-right: 10px;
        margin: 10px auto;
    }

        #coupons .coupon .more_info img {
            width: 100%;
        }

#coupons .coupon .expire {
    font-size:12px;
    color: #333333;
    padding-bottom:3px;
}

#poPrevNext .prev {
    float:left;
    text-align:left;
}
#poPrevNext .next {
    float:right;
    text-align:right;
}
#poPrevNext .image {
    width:65px;
}
    #poPrevNext .image img {
        width:65px;
    }
#poPrevNext .lnk {
    color:#3c5a99;
    font-size: 13px;
    margin:0 10px 0 10px;
    line-height:40px;
}
    #poPrevNext .lnk a {
        color: inherit;
    }
        
.container .content_sections h1 {
    top:0;
}

@media (min-width: 350px) {
    #poPrevNext .lnk {
        font-size: 16px;
    }
}

@media (min-width: 500px){
    #coupons {
        text-align: left;
    }

    #coupons .coupon .img {
        float:left;
        width: 28%;
        padding: 0;
    }

    #coupons .coupon .expire, #coupons .coupon .description {
        width:500px;
        float:right;
    }

    #coupons .coupon .description, #coupons .coupon .expire, #coupons .coupon .buttons {
        width:68%;
    }

    #coupons .coupon .buttons {
        float: right;
    }

    #poPrevNext .lnk {
        font-size: 25px;
    }

    #topcoupon .more_info a {
        padding: 10px 100px;
    }
}