﻿<%@ Page Language="C#" MasterPageFile="~/MasterPage.master" AutoEventWireup="true" CodeFile="Privacy.aspx.cs" Inherits="Privacy" %>

<asp:Content ID="Content2" ContentPlaceHolderID="ContentBody" Runat="Server">
    <div id="content">
        <h1><asp:Literal runat="server" ID="litTitle">Privacy Policy</asp:Literal></h1>
        <hr class="blueline">
        <asp:Literal runat="server" ID="litPrivacy">Coming Soon.</asp:Literal>
    </div>
</asp:Content>
